<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>IoT管理</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<header>
			<a href="/" class="header-logo">IoT管理画面</a>
		</header>

		<% var names = ["出社", "在宅", "不明"]; %>
		<% var color_class = ["button-office", "button-home", "button-unknown"]; %>
		
		<div class="state-wrapper">
			<div class="container">
				<ul>
					<% items.forEach((item) => { %>
						<% 
							var nextstate = item.state+1;
							if(nextstate>3) {
								nextstate = 1;
							}
						%>
						<li>
							<span><%= item.user %></span>
							<form action="/change/<%= item.user %>/<%= nextstate %>" method="post" class="inline-block">
								<input type="submit" value="<%= names[item.state-1] %>" 
												class="button <%= color_class[item.state-1] %> "/>
							</form>
						</li>
					<% }) %>
				</ul>
			</div>
		</div>
	</body>
</html>