<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>IoT管理</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<header>
			<div class="container">
				<div class="header-center">
					<p>IoT管理画面</p>
				</div>
			</div>
		</header>

		<% 
			var names = ["Office", "Home", "Unknown"];
			var nextstate = items.state+1;
			if(nextstate>2) {
				nextstate = 1;
			}
		%>

		<ul class="state-wrapper">
			<% items.forEach((item) => { %>
				<li>
					<p><%= item.user %></p>
					<form action="/change/<%= nextstate %>" method="post">
						<input type="submit" value="<%= names[items.state-1] %>" /><br />
					</form>
				</li>
			<% }) %>
		</ul>

		<form action="/change/<%=  nextstate %>" method="post">
			<input type="submit" value="<%= names[items.state-1] %>" /><br />
		</form>
	</body>
</html>